<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Vanilla</string>
		<key>topColor</key>
		<string>251,248,236,255</string>
		<key>bottomColor</key>
		<string>230,215,171,255</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chocolate</string>
		<key>topColor</key>
		<string>203,140,58,255</string>
		<key>bottomColor</key>
		<string>107,46,11,255</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Strawberry</string>
		<key>topColor</key>
		<string>255,207,207,255</string>
		<key>bottomColor</key>
		<string>255,112,112,255</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Green Tea</string>
		<key>topColor</key>
		<string>208,226,127,255</string>
		<key>bottomColor</key>
		<string>113,147,38,255</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blue Moon</string>
		<key>topColor</key>
		<string>190,233,241,255</string>
		<key>bottomColor</key>
		<string>90,163,186,255</string>
	</dict>
</array>
</plist>
